.container {
  max-width: 65rem;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.headerTitle{
  width: 14rem;
}

.listItem {
  padding-top: 0.25rem;
  font-size: 1.125rem;
  font-weight: 800;
}

.listItem:nth-child(1){
  display: none;
}

.logOutButton , .user{
  border:none;
  background:none;
  font-size: 0.95rem;
}

.user{
  font-weight: 900;
}

@media only screen and (min-width: 38rem){
  .container{
    padding: 1rem 3rem;
  }
  .listItem:nth-child(1){
  display: block;
}

  .navList{
  display: flex;
  justify-content: space-between
}

  .listItem {
  padding: 0 1.25rem 0.5rem;
  font-size: 1.5rem;
}
}


@media only screen and (min-width: 60rem){
  .container{
    padding: 1.5rem 5rem;
    width: 85%;
    margin: 0 auto;
  }
}